<div>
  <span class="etiquette">Inventaire des ressources</span>
  <div class="panneau" style="width: 500px">
    <p class="titre-section">
      <img class="img-icone" src="assets/image/inventaire.png" />Liste des ressources
    </p>
    <table>
      <thead>
      <tr>
        <th>Ressource</th>
        <th>Quantité</th> <!--8 Kg-->
        <th>Prix affiché</th>
        <th>Stock min</th>
        <th>Surplus</th>
        <th>Lieu de stockage</th>
        <th>Transformation</th> <!--Transformer la ressource-->
        <th></th> <!--Modification/Validation (Update) -->
        <th></th> <!--Suppression/Annulation (Delete)-->
        <!--Patch quand on double clique sur une case en particulier-->

      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let ressource of ressources$ | async; trackBy: trackRessource">
        <td><img class="img-icone" src="assets/image/pomme.png" />{{ressource.nom}}</td>
        <td><span class="badge"></span></td> <!--ajouter les {{}} dans les td-->
        <td></td> <!--quand clic pour patch ouvre un formulaire à part-->
        <td></td> 
        <td class="surplus-oui">Oui</td> <!--Calcul côté front-->
      </tr>
      </tbody>
    </table>
    <div class="boutons">
        <button (click)="showForm = true" class="bouton bouton-creer"> <!--Ouvre le formulaire, mais est remplacé par un autre bouton ou pas, ou juste caché et apparaît dans le formulaire du coup-->
          <img class="img-icone" src="assets/image/creer.png" />Créer
        </button>
      <button class="bouton bouton-supprimer">
        <img class="img-icone" src="assets/image/croix.png" />Supprimer
      </button>
      <button class="bouton bouton-reinitialiser">
        <img class="img-icone" src="assets/image/deselectionner.png" />Désélectionner
      </button>
    </div>
  </div>
</div>

<agri-modal *ngIf="showForm" (submit)="creerOuModifier()" [form]="ressourceForm" [title]="(editingRessource) ? `Modifier` : `Créer`" (closed)="showForm = false">
  <span class="etiquette">Créer / Modifier une ressource</span>
  <div class="panneau" style="width: 400px">
    <p class="titre-section">
      <img class="img-icone" src="assets/image/liste.png" />Modifier la ressource...
      <img class="img-icone" src="assets/image/pomme.png" />Pomme
    </p>
    <div class="formulaire">

      <div class="champ">
        <label>Nom de la ressource</label>
          <agri-select class="bordure-pixel" label="nomRessource" id="nomRessourceId" [items]="(nomRessources$ | async) ?? []" item-value="nomAffichage" [control]="nomRessourceCtrl">
    <ng-template let-nom="item">
      {{ nom.nomAffichage }}
    </ng-template>
  </agri-select>
      </div>
<!--TODO
pour formulaire prix quand clic ouvre un formulaire à part
      <div class="champ">
        <label>Unité (auto)</label>
        <input class="bordure-pixel" value="Kg" readonly />
      </div>
      <div class="duo">
        <div class="champ">
          <label>Quantité</label>
          <input class="bordure-pixel" type="number" value="120" />
        </div>
        <div class="champ">
          
          <label>Prix (€)</label> 
          <input class="bordure-pixel" type="number" value="1.20" />
        </div>
      </div>
      <div class="champ">
        <label>Stock minimum</label>
        <input class="bordure-pixel" type="number" value="30" />
      </div>
      <div class="champ">
        <label>Surplus en vente ?</label>
        <span class="surplus-oui">Oui — surplus de 90 unité(s)</span>
      </div>
-->
      <div class="boutons">
        <button class="bouton bouton-creer"> <!--Là c'est soit le créer soit le modifier qui s'affiche selon ce qui a déclenché le formulaire-->
          <img class="img-icone" src="assets/image/creer.png" />Créer
        </button>
        <button class="bouton bouton-modifier">
          <img class="img-icone" src="assets/image/modifier.png" />Modifier
        </button>
        <button class="bouton bouton-reinitialiser">
          <img class="img-icone" src="assets/image/reinitialiser.png" />Réinitialiser
        </button>
      </div>
    </div>
  </div>
    <agri-submit [editing]="!!editingRessource" [form]="ressourceForm" (cancel)="annulerEditer()" />
</agri-modal>
