:host {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  align-items: flex-start;
}

/* Indication visuelle dans le tableau */
.surplus-oui {
  color: var(--vert);
  font-weight: bold;
}

/* Tableau de ressources */
table {
  width: 100%;
  border-spacing: 2px;
}
th {
  white-space: nowrap;
  background: #aaddf5;
  padding: 6px 8px;
  text-align: left;
  border-bottom: 2px solid #7ac8e8;
  text-transform: uppercase;
}

th:empty {
  background-color: transparent;
  border:none;
}

td {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 2px;
    box-shadow:
    -2px 0 0 var(--bordure),
    2px 0 0 var(--bordure),
    0 -2px 0 var(--bordure),
    0 2px 0 var(--bordure),

}

td:not(:has(button)) {
  font-size: larger;
    box-shadow:
    -2px 0 0 var(--bordure),
    2px 0 0 var(--bordure),
    0 -2px 0 var(--bordure),
    0 2px 0 var(--bordure),
    inset -1px 0 0 #c4a97d,
    inset 1px 0 0 #c4a97d,
    inset 0 -1px 0 #c4a97d,
    inset 0 1px 0 #c4a97d;
}

tr:nth-child(odd) td {
  background: #f5fcff;
}
tr:nth-child(even) td {
  background: #eaf7ff;
}

/* Mise en page du formulaire */
.creation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  

  /* fond assombri */
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35); 
}

.formulaire{
  justify-self: center;
  align-self: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.champ {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.duo {
  display: flex;
  gap: 10px;
}
.boutons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 8px;
}
/*Transformer*/
button[style*="background-color: orange"] {
  min-width: 150px;
}

.bouton-creer.loading {
  background-color: gold;
  cursor: not-allowed;
  opacity: 0.9;
  min-width: 139px;
}

.bouton-modifier,
.bouton-creer{
  min-width: 112px;
}


.bouton-supprimer,
.bouton-reinitialiser {
  min-width: 128px;
}