<footer>
    <nav>
        <a routerLink="/accueil" class="btn-img">
            <img src="assets/image/bloc-texte.png" alt />
            <span>Accueil</span>
        </a>
        <a routerLink="/accueil" class="btn-img" style="cursor: pointer;" (click)="logout()">
            <img src="assets/image/bloc-texte.png" alt />
            <span>Déconnexion</span>
        </a>
    </nav>
    <div class="copyright">
        © 2026 Agricore. Fait avec <img src="assets/image/coeur.png"
            alt="coeur" />, Angular et Spring.
    </div>
</footer>