.nuage {
  position: fixed;
  bottom: 80px;
  height: 312px;
  width: 480px;
  z-index: 0;
  pointer-events: none;
  animation: fly 35s linear infinite;
}

@keyframes fly {
  0%   { transform: translateX(120vw); }
  25%  { transform: translateX(-480px); }/*entre 25% et 100 il reste caché pour pas qu'il repop tout le temps */
  100% { transform: translateX(-480px); } 
}
  /* ça amène à 0 - la largeur de l'image de 480px c'est pour ça que c'est en px */


.fond {
  background-image: url('/assets/image/fond-champ.png');
  position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    
    background-size: 100% 100%;
    margin: 0;
    

    background-position: center;
    background-repeat: no-repeat; 
    height: 110vh;
    width: 110vw;
    top: -5vh;
    left: -5vw;
    transition: transform 0.1s ease-out;
}