<h1>Liste des plantes</h1>
@if (addPlanteOpen){
  <app-ajout-plante-compo (closeAjout)="closeAddPlante()"></app-ajout-plante-compo>
}
<button (click)="addPlanteOpen = true" class="bouton bouton-creer">Ajouter une plante</button>


<div class="plante-list panneau" style="width: 700px; margin-top: 10px">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Production</th>
        <th>Consommation d'eau</th>
        <th>Humidite</th>
        <th>Croissance</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (plante of plante$ |async; track plante.id) {
        <tr app-info-plante
            [plante]="plante"
            (reloadEvent)="reload()"
            (infoPlanteMessage)="showInfoPlanteMessage($event)"
          >

        </tr>

      }
    </tbody>
  </table>
</div>

<div>
  <table>
    <thead>
      
    </thead>
  </table>
</div>
