<h1 class="titre-plantes">Liste des plantes</h1>
@if (addPlanteOpen){
  <app-ajout-plante-compo (closeAjout)="closeAddPlante()"></app-ajout-plante-compo>
}
<button (click)="addPlanteOpen = true" class="bouton bouton-creer">Ajouter une plante</button>


<div class="plante-list panneau" style="width: 700px; margin-top: 10px">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Production</th>
        <th>Consommation d'eau</th>
        <th>Humidite</th>
        <th>Croissance</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (plante of plante$ |async; track plante.id) {
        <tr app-info-plante
            [plante]="plante"
            (reloadEvent)="reload()"
            (errorMessage)="showErrorMessage($event)"
          >

        </tr>

      }
    </tbody>
  </table>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Zone libre / total</th>
        <th>Liste des plantes</th>
        <th>Plantes recoltables</th>
        <th>Plante deseche</th>
      </tr>
    </thead>
    <tbody>
      @for (planteZoneInfo of planteZoneInfo$|async; track planteZoneInfo.nomZone) {
        <tr>
          <td><img [src]="planteZoneInfo.pathSpriteZone" style="width: 50px"></td>

          <td>
            {{planteZoneInfo.freeZone}} / {{planteZoneInfo.totalZone}}
          </td>
          <td>
            <ul>
              @for (plantSprite of planteZoneInfo.pathSpritePlants ; track $index) {
                <li>
                  <img [src]="plantSprite" class="img-icone">
                </li>
              }
            </ul>
          </td>
          <td>
            {{planteZoneInfo.harvestableZone}}
          </td>
          <td>
            {{planteZoneInfo.dryZone}}
          </td>


        </tr>
      }


    </tbody>
  </table>
</div>

@if (message) {
  <app-message-modal
    [message]="message"
    (closeEvent)="clearMessage()"
  />
}

