@font-face {
    font-family: 'StardewValley';
    src: url('font/Stardew\ Valley\ Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'StardewValleyCAPS';
    src: url('font/Stardew\ Valley\ ALL\ CAPS.ttf') format("truetype");
}

:root {
 
    --font-corps: 'StardewValley';
    --font-titre: 'StardewValleyCAPS'

}

nav {
    font-family: var(--font-corps);
}

h1, h2, h3, h4 {
    font-size: 50px;
    font-family: var(--font-titre);
}

p { 
    font-family: var(--font-corps);
}



header {
    /*Centrer l'img*/
    display: flex;
    flex-direction: column;
}

header img {
    display: flex;
    align-self: center;
    width: 50%;
}

nav {
    display:flex;
    align-self: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    position: relative;
    background-image: url("assets/sun_wallpaper.png");
    
    background-position: center;
    background-repeat: no-repeat; 
    min-height: 100%;
    
    
}

main {
    display: flex;
    flex-direction: column;
    
}


.bird {
    position: absolute;
    background-size: 100% 100%;
    height: auto;
    bottom:100px;
    width: 80px;
    animation: fly 20s linear infinite;
}

@keyframes fly {
  from {
    transform: translateX(100vw)  ;
  }
  to {
    transform: translateX(-100vw);
  }
}

input {
    width: 200px;
    height: 50px;

    background-image: url("assets/textbox.png");
    background-size: cover;
    background-repeat: no-repeat;

    border: none;
    outline: none;

    padding: 10px 15px;
    font-family: var(--font-corps);
    font-size: 18px;
    background-color: transparent;
}

input.connexion {
    align-self: center;
}

input.connexion:hover {

    background-color: beige;
}



section {
    display: flex;
    flex-direction: column;
}

section.identification {
    flex-direction: column;
    align-self: center;

    
}

section.presentation {
    align-self: center;
}


footer {
    display: flex;
    flex-direction: column;
    
}

footer p {
    align-self: center;
}