<p>map-component works!</p>
@if (mapSize$ | async; as mapSize) {
  <div class="map-container"
       [style.width.px]="mapSize.x * cellSize"
       [style.height.px]="mapSize.y * cellSize"
       (mousemove)="followMouse($event)"
       (click)="mouseClick($event)">

    <div class="map-grid"
         [style.width.px]="mapSize.x * cellSize"
         [style.height.px]="mapSize.y * cellSize"
         [style.grid-template-columns]="'repeat(' + mapSize.x + ', ' + cellSize + 'px)'"
         [style.grid-template-rows]="'repeat(' + mapSize.y + ', ' + cellSize + 'px)'"
         [style.background-size]="cellSize + 'px ' + cellSize + 'px'">
    </div>

    <canvas #overlayCanvas
            class="map-overlay"
            [width]="mapSize.x * cellSize"
            [height]="mapSize.y * cellSize">
    </canvas>

    @if (mapMode === 'CREATE' && placementShape) {
      <img
        class="placement-ghost"
        [src]="placementShape.spritePath"
        [style.left.px]="ghostX"
        [style.top.px]="ghostY"
        [style.width.px]="ghostWidth"
      />
    }



  </div>
  @if (contextMenu.visible){
    <div
      class="context-menu"
      [style.left.px]="contextMenu.x"
      [style.top.px]="contextMenu.y"
    >
      <ul>
        <li (click)="deleteBuilding(contextMenu.building)">Supprimer</li>
        <li>Consulter zone</li>
      </ul>
    </div>
  }

}

