
<td>
  <div class="plant-cell">

    <div class="plant-stats">
      @if (matureEventDone) {
        <div class="plant-status">Mature</div>
      } @else if (deadEventDone) {
        <div class="plant-status">Desséché</div>
      } @else {
        <div class="plant-stat" [class.low-humidity]="humiditeActuelle < 20">
          @if(humiditeActuelle < 25){
            @if(plante.tree){
              <img class="img-icone" src="assets/image/arbre-sec.png">
            }@else{
              <img class="img-icone" src="assets/image/herbe-sec.png">
            }

          }@else{
            <img class="img-icone" src="assets/image/goutte.png">
          }

          <span>{{ humiditeActuelle | number:'1.0-0' }} %</span>
        </div>

        <div class="plant-stat">
          @if(plante.tree){
            @if(croissanceActuelle > 80){
              <img class="img-icone" src="assets/image/arbre.png">
            }@else{
              <img class="img-icone" src="assets/image/petit-arbre.png">
            }
          }@else{
            <img class="img-icone" src="assets/image/herbe.png">
          }


          <span>{{ croissanceActuelle | number:'1.0-0' }} %</span>
        </div>
      }
    </div>

    <img [src]="plante.pathSprite" class="plant-img">

  </div>
</td>

<td>
  <p>
    >
    {{plante.production}}
    <img class="img-icone" [src]="plante.ressource.pathSprite">
  </p>
</td>

<td style="align-content: center">
  @for (_ of (plante.consoEauParMin | consoEau); track $index) {
    <img class="img-icone" src="assets/image/goutte.png">
  }
</td>



<td>
  @if(matureEventDone){
    <button class="bouton bouton-creer" (click)="recolter(plante.id)">
      <img class="img-icone" [src]="plante.ressource.pathSprite" /> Récolter</button>
  } @else {
    <button class="bouton bouton-modifier"(click)="arroser(plante.id)">
       <img class="img-icone" src="assets/image/goutte.png" /> Arroser</button>
  }
</td>
<td>
  <button class="bouton bouton-supprimer" (click)="supprimer(plante.id)">
     <img class="img-icone" src="assets/image/croix.png" /> Supprimer</button>
</td>


