<header>
    <div class="logo">
    <img src="assets/image/logo-titre.png" alt="Logo Agricore" />
    </div>
    <div class="haut">
        <div class="logo">
            
            <p>{{ logoTexte }}</p>
        </div>
        <div class="paysage">
            <img src="assets/image/banniere.png" alt="Bannière" />
        </div>
        <div class="slogan">
            @for (item of sloganItems; track item.texte) {
                <p [routerLink]="item.lien ?? null" [style.cursor]="item.lien ? 'pointer' : 'default'">
                    <img [src]="item.iconSrc" alt />{{ item.texte }}
                </p>
            }
        </div>
    </div>
</header>
