<header>
    <div class="haut">
        <div class="logo">
            <img src="assets/image/logo-titre.png" alt="Logo Agricore" />
            <p>La ferme c'est vous !</p>
        </div>
        <div class="paysage">
            <img src="assets/image/banniere.png" alt="Bannière" />
        </div>
        <div class="slogan">
            <p routerLink="/gestion-employes" style="cursor: pointer;">
                <img class="maison" src="assets/image/maison.png"
                    alt />Gestion</p>
            <p><img class="vache" src="assets/image/inventaire.png"
                    alt />Organisation</p>
            <p><img class="feuille" src="assets/image/liste.png"
                    alt />Suivi</p>
        </div>
    </div>
</header>