<h1>Liste des animaux</h1>

<div class="animal-list">
    <div *ngFor="let a of animals$ | async" class="panneau panneau-animal">
        @if (a.delaisVaccination
        < 30) {<img class="img-icone warning-animal" src="assets/image/warning-sign.png" (click)="detailedInfos(a)" />}
        <div class="case-animal-infos" title="Plus d'infos" (click)="detailedInfos(a)">
            <div class="case-animal-img-name">
                <img class="animal-inline" [src]="a.pathSprite" /> <br /> {{a.nomAffichage}} -
                @if (a.male) {
                <img class="img-icone img-icone-sexe" src="assets/image/animal/male.png" /> } @else {
                <img class="img-icone img-icone-sexe" src="assets/image/animal/femelle.png" />
                }
            </div>
            <div class="case-animal-text">
                <p id="animal-number">N° : {{a.id.toString().padStart(6, "0")}}</p>
                <p id="animal-dates">Naissance : <br /> {{a.dateNaissance | date:'dd/MM/yyyy'}} <br />
                    Vaccination : <br /> {{a.dateVaccination | date:'dd/MM/yyyy'}}</p>
            </div>
        </div>
        <br />
        <button class="bouton bouton-modifier" style="margin-right: 5px;">
            <img class="img-icone" src="assets/image/modifier.png" />
            Modifier
        </button> <button class=" bouton bouton-supprimer">
            <img class="img-icone" src="assets/image/croix.png" />
            Supprimer
        </button>
    </div>
</div>


<!-- INFOS DETAILLEES PAR ANIMAL -->
@if (afficheDetailedInfos) {

<div class="form">

    <div class="panneau" style="width: 400px; position:absolute;">
        <img class="img-icone close-window" src="assets/image/croix.png" (click)="closeDetailedInfos()" />

        <p class="titre-section">
            <img class="img-icone" src="assets/image/liste.png" />
            {{animal.nomAffichage}} n° {{animal.id.toString().padStart(6, "0")}}
        </p>

        <div class="detailed-infos-up">
            <img class="animal-infos" [src]="animal.pathSprite" />
            <div class="detailed-infos-up-text">
                <p>Sexe : @if (animal.male) {
                    Male <img class="img-icone img-icone-sexe" src="assets/image/animal/male.png" /> } @else {
                    Femelle <img class="img-icone img-icone-sexe" src="assets/image/animal/femelle.png" />
                    }</p>
                <p>Date de naissance : {{animal.dateNaissance | date:'dd/MM/yyyy'}}</p>
                <p>Age : ??</p>
            </div>
        </div>

        <div class="detailed-infos-down">
            <p>Dernière vaccination le {{animal.dateVaccination | date:'dd/MM/yyyy'}}</p>
            <p>@if (animal.delaisVaccination < 0) {<span style="color: red;">Vaccination en retard de
                    {{-animal.delaisVaccination}} jours</span>}
                    @else if (animal.delaisVaccination < 7) {Prochaine vaccination dans <span style="color: red;">
                        {{animal.delaisVaccination}} jours
                        </span>}
                        @else if (animal.delaisVaccination < 30) {Prochaine vaccination dans <span
                            style="color: orange;">{{animal.delaisVaccination}}
                            jours
                            </span>}
                            @else {
                            Prochaine vaccination dans {{animal.delaisVaccination}} jours
                            }
            </p>
            <div style="display: flex; flex-wrap: nowrap; justify-content: space-around; align-items: center;">
                <a routerLink="/zone" style="text-decoration: none; color: inherit;">
                    <div title="Voir les zones">
                        <p>Zone :</p>
                        <div style="text-align: center;"><img [src]="animal.zonePathSprite" /><br />
                            {{animal.zone}}</div>
                    </div>
                </a>
                @if (animal.produit!="") {
                <a routerLink="/ressource" style="text-decoration: none; color: inherit;">
                    <div title="Voir les ressources">
                        <p>Produit :</p><img class="img-icone" [src]="animal.produitPathSprite" /> {{animal.produit}}
                    </div>
                </a>
                }
            </div>
        </div>

    </div>
</div>
}


<br />