<h1>Liste des animaux</h1>

<div class="animal-list">
    <div *ngFor="let a of animals$ | async" class="panneau panneau-animal" style="width: 300px">
        <div class="case-animal-infos">
            <div class="case-animal-img-name">
                <img class="animal-inline" [src]="a.pathSprite" /> <br /> {{a.nomAffichage}} -
                @if (a.male) {
                <img class="img-icone" src="assets/image/animal/male.png" /> } @else {
                <img class="img-icone" src="assets/image/animal/femelle.png" />
                }
            </div>
            <div class="case-animal-text">
                <p id="animal-number">N° : 123456</p>
                <p id="animal-dates">Naissance : <br/> {{a.dateNaissance}} <br/>
                    Vaccination : <br/> {{a.dateVaccination}}</p>
            </div>
        </div>
        <br />
        <button class="bouton bouton-modifier">
            <img class="img-icone" src="assets/image/modifier.png" />
            Modifier
        </button> <button class=" bouton bouton-supprimer">
            <img class="img-icone" src="assets/image/croix.png" />
            Supprimer
        </button>
    </div>
</div>


<br />