<p>zone-page works!</p>
<div class="tabs">
  <button
    [class.active]="isCreation"
    (click)="isCreation = true">
    Création de zones
  </button>

  <button
    [class.active]="!isCreation"
    (click)="isCreation = false">
    Modification de zones
  </button>
</div>

@if (isCreation) {
  <div>
    aa
    <table>

      <tbody>
        @for (zoneData of zoneDatas$ |async; track zoneData) {
          <tr>
            <td><img [src]="zoneData.pathSprite" height="150px"></td>
            <td><p>{{zoneData.nomAffichage | titlecase}}</p><p>{{zoneData.description}}</p></td>
            <td><button (click)="startZoneCreation(zoneData)">CREER ZONE</button></td>
          </tr>
        }

      </tbody>
    </table>
  </div>
} @else {
  <div >

  </div>
}

@if (mapMode !== 'OFF'){
  <button (click)="mapMode='OFF'">Masquer Carte</button>
  <app-map-component [shapes]="zoneShapes$ | async"
  [mapMode]="mapMode"
  [placementShape]="placementShape"
  (zoneCreation)="createZone($event)"
  (cancelCreation)="stopZoneCreation()"
  (deleteZoneByPos)="deleteZoneByPos($event)"
  ></app-map-component>
} @else {
  <button (click)="mapMode='VIEW'">Afficher Carte</button>
}

