.tables-container {
  display: grid;
  grid-template-columns: repeat(4,auto);
  gap: 5px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-inline: 800px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.tabs button.active {
  border: 2px solid rgba(149, 36, 36, 0.5);
  font-weight: bold;
}


.creation-table {
  width: 50%;
  border-collapse: collapse;
  margin-inline: 600px;
}

.flex-list {
  display: grid;

  gap: 10px;

  width: fit-content;

  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-list li {
  width: 35px;
  height: 35px;
}
